[2020-10-20 18:53] smartinez5050 opened #1 "problem with the solution in android"
Hi!

While evaluating ACS we cross with this project. It looks very promissing, thanks for shearing. We are evaluating it and eventually we may contribute too.

We manage to make the iOS solution to work, however we are facing some issues with Android.

The issue happens at runtime, after we got the token from the API and we try to execute the following code:
[code]
it crashes and report the follo

[2020-10-20 19:14] tompi commented on #1
Which device/android version are you using?
I just realized i only tested on a pretty old device(galaxy s7). Could you try this: https://www.google.com/amp/s/blog.jakelee.co.uk/how-to-fix-noclassdeffounderror-failed-resolution-of-lorg-apache-http-protocolversion/amp/

Ill test on a newer droid version at work tomorrow to confirm

[2020-10-21 07:44] #1 closed

[2020-10-21 19:09] kagbakpem commented on #1
@smartinez5050, please add this dependency under the <application></application> tag in the app manifest.
<uses-library android:name="org.apache.http.legacy" android:required="false"/>

See this for more context:
https://developer.android.com/about/versions/pie/android-9.0-changes-28#apache-p
Thanks

[2020-10-26 10:42] nielscup opened #2 "iOS Native Linking failed"
Hi, thank you for sharing your bindings! I have a question regarding the iOS bindings: When I build the AzureCommunicationVideoTest.iOS I get about 40 errors like this one:
`Error MT5211: Native linking failed, undefined Objective-C class: ACSCall. The symbol '_OBJC_CLASS_$_ACSCall' could not be found in any of the libraries or frameworks linked with your application. (MT5211) (AzureCommunicationV

[2020-10-26 10:50] tompi commented on #2
Hi @nielscup . Are you building for a real device? I suspect you will get this error trying to build for the simulator...

[2020-10-26 11:39] #2 closed

[2020-10-26 14:14] nielscup commented on #2
Problem was that I downloaded the code zip. That does not work because of LFS. You need to clone the code and pull to retrieve the file from LFS.

[2020-10-27 07:15] raosanat opened #3 "Not able to build for iOS"
As attached in the screenshot i have pointed to the latest frameworks and followed the instructions in `updating-acs.txt`
But i still get error when building for device. Any idea what is wrong here ?
[code]

![Screen Shot 2020-10-27 at 12 12 15 AM](https://user-images.githubusercontent.com/66031869/97268584-5244ee00-17e9-11eb-8b05-07795dbb3430.png)

[2020-10-27 09:13] tompi commented on #3
@raosanat Could you try building just the binding library(Xamarin.AzureCommunicationCalling.iOS) and attach the build output from that? NB: The "updating-acs.txt" is just a note to self kind of thing of what to do when updating the underlying libs. Are you trying to compile against another version of the ACS framework than what is in the repo?

[2020-10-29 13:54] nielscup opened #4 "unable to start device to device voip call"
I have the sample working: I can make an echo call to acs. But how do I make a voip/video call like in the doc picture?

[2020-10-29 13:56] tompi commented on #4
@nielscup Did you try joining the same group from two devices? (click join group instead of call echo)

[2020-10-29 14:25] nielscup commented on #4
Yes, that works, I currently only dont see the other users video. But voice works.

But I was actually trying to start a call via a userId, same as you start echo call but than with the other devices userId. I have set up notifications etc, so I would expect to at least receive a notification when I start a call on the other device. I have tested this with a Twilio backend, which works and I would

[2020-10-29 14:35] tompi commented on #4
@nielscup Sorry, I just needed group call functionality for my POC... But missing video seems like a bug. Are you running on ios or android, and which devices? For direct calling/notifications you probably need to do some coding yourself, but the binding libs expose all of the APIs so it should be possible.

[2020-10-29 14:38] nielscup commented on #4
Running on an iPhone 5s and iPad. Ok, I will continue coding for notifications etc. Using your bindings saves a lot of time anyway. Thanks for that!

[2020-10-29 14:43] #4 closed

[2020-10-29 22:07] axesar opened #5 "AzureCore.AzureError.sdk("Token is not formatted correctly.", nil)"
Hi!

When I call await_callingManager.Init(_token); the response is "Token is not formatted correctly."

I am serializing an AzureCommunicationToken object to JSON

There is a special format for the token?

I would appreciate your help.

Thanks!

[2020-10-29 22:30] tompi commented on #5
You should just provide the token itself, not json. I can give you an example tomorrow when im at my desk

[2020-10-29 22:45] bigbbri commented on #5
Thanks for replying, we got it!
B

On Thu, Oct 29, 2020 at 5:30 PM Thomas Haukland <notifications@github.com>
wrote:

[2020-10-30 12:37] tompi commented on #5
Assuming you figured it out, feel free to reopen if its still not working

[2020-10-30 12:37] #5 closed

[2020-11-02 12:23] nielscup commented on #4
Video does not work in landscape. Rotate to portrait and video works.

[2020-11-12 20:54] axelasarmiento opened #6 "Speaker, mic and camera toggle"
Hi,

We've been using the new nuget package and it works fantastically!

We wonder if there a property exists to use speakers, mute the mic and turn off the camera

Thank you!

[2020-11-12 21:00] bigbbri commented on #6
The speaker default on iOS is the ear but we’d like to use the larger
speakers.  Is there a way to toggle that?
We see isMutedMic but we didn’t find a way to call for Mute toggling.
Same for the camera.

Thanks!!
Brian

On Thu, Nov 12, 2020 at 2:54 PM axelasarmiento <notifications@github.com>
wrote:

[2020-11-13 08:03] tompi commented on #6
Hey, I really havent explored this much as default options have worked for me. I see that web and mobile sdks differ on this point. In the web sdk, the audioOptions have settable "speakers" and "microphone", but ios and android do NOT have these. Perhaps @raosanat knows if they are coming?

The mobile sdks DO HAVE a way of getting a list of mics and speakers from the device manager, and I see ther

[2020-11-13 08:08] tompi commented on #3
@raosanat Closing this, but feel free to reopen if you still cant compile

[2020-11-13 08:08] #3 closed

[2020-11-13 08:11] mariusu-msft commented on #6
Hi,

At this time for mobile, we are planning to remove the audio devices functionality from DeviceManager.

To switch between AudioDevices, please use `AVFundation` directly.

Something like this:
[code]

https://docs.microsoft.com/en-us/dotnet/api/avfoundation.avaudiosession.overrideoutputaudioport?view=xamarin-ios-sdk-12#AVFoundation_AVAudioSession_OverrideOutputAudioPort_AVFoundation_AVAudioSe

[2020-11-15 06:42] bigbbri opened #7 "Upload binaries to Apple with info.plist OS version set to 13 only. Anything less causes errors"
Hi, we wanted to create a release for TestFlight and review but to our surprise we were rejected on upload.  If we set the info.plist to os 11 or 12 it fails with the error:

ITMS-90426: Invalid Swift Support - The SwiftSupport folder is missing. Rebuild your app using the current public (GM) version of Xcode and resubmit it.

The apple upload only accepts our build if our release build is set to

[2020-11-15 10:03] tompi commented on #7
Hey, my knowledge about this is a bit shaky, but the way I understood it is that as Swift ABI stability was reached with iOS 12.2, we no longer needed to bundle swift deps with the IPA. I think you have two options, either set minimum iOS version to 12.2 or use a swift bundler. I think swift bundling happens automatically when building with xcode, but for xamarin, the easiest way is to use e.g. Xa

[2020-11-15 10:21] tompi commented on #7
@bigbbri Try version 1.0.0-beta.4.4, it should automatically install Xamarin.Swift in your project which takes care of swift bundling

[2020-11-16 17:22] axelasarmiento commented on #7
Hi,

We were able to send the build using iOS 12.4, we are on 1.0.0-beta.4.4 and we added Xamarin.Swift as well.

We can go live with this but it would be better if we can bring this down to all of 12 or 11

Thanks!

[2020-11-16 17:56] bigbbri commented on #7
Hi, Let me clarify a little more.  We are using Xamarin.Swift and the Nuget Beta-4.4 package but anything below 12.2 still fails with the same error.  What do you think we are missing? Maybe we can invite you to our repo…. It’s a small app…

Thanks,

Brian Adams
President, Ameliom IT LLC
A 30985 Oakview Rd Bulverde, TX 78163
M 210-452-1639
W www.ameliom.com

From: axelasarmiento <notifications@git

[2020-11-17 01:57] mariusu-msft opened #8 "iOS Consume & Update ACS from Cocoapods"
https://github.com/mariusu-msft/Xamarin.AzureCommunicationCalling/tree/use-cocoapods

I've added support to use ACS from Cocoapods here. It may be desirable to checking in the libs directly, since it allows for easy update to latest.

Let me know if I should create a pull request.

[2020-11-17 02:13] bigbbri commented on #7
Can we keep this open? We pulled Beta 4.4 and we have been using Xamarin.Swift but it won't let anything lower that 12.4.  This is not a good long term solution for an app.  We want to support iOS 11 and up.

Thanks,
brian

[2020-11-17 06:58] tompi commented on #8
Nice, thank you @mariusu-msft ! Would appreciate a pull request! Ill try to get it merged as soon as possible.

P.S. I saw you referenced ios 13 in the Podfile, the minimum sdk version should be 12.0 shouldnt it?

[2020-11-17 07:02] tompi commented on #7
@bigbbri and @axelasarmiento  Sure, Ill reopen it. Lets try to publish for iOS 12.0. This is stated as minimum SDK version for ACS: https://github.com/Azure/Communication/releases/tag/v1.0.0-beta.2

So you will NOT be able to do iOS 11 in any case.

Anyway, could you try setting iOS 12.0 as minimum sdk, then build it and attach both the build log(Im especially interested in output from the build s

[2020-11-17 07:04] tompi commented on #6
Closing this since @mariusu-msft seems to have answered the audio speaker toggle and I think I answered the muting/stop camera question

[2020-11-17 07:04] #6 closed

[2020-11-17 07:28] tompi commented on #8
@mariusu-msft Just tried installing from cocoa pods and it works very well! A minor detail is that Info.plist of AzureCommunicationCalling has some strange values: minimumosversion=10, should be 12, right? Also, BunleVersionShort is "1.0.0-beta.4" which doesnt fly with iTunes Connect: https://developer.apple.com/documentation/bundleresources/information_property_list/cfbundleshortversionstring

[2020-11-17 19:22] axelasarmiento commented on #7
Hi,

this is the build log using iOS 12.0 and the latest Xamarin.AzureCommunicationCalling nuget beta version

this is the rejection message from Apple:

ITMS-90426: Invalid Swift Support - The SwiftSupport folder is missing. Rebuild your app using the current public (GM) version of Xcode and resubmit it.

and the build log:

[Build _log_AFWC.txt](https://github.com/Laerdal/Xamarin.AzureCommunicat

[2020-11-18 20:11] axelasarmiento commented on #6
Hi @tompi!

I've been looking for the mute() and unmuted() methods but I am not able to see them in the objects,

could you explain a little bit more about where exactly the methods are and where to call them,

thanks!

[2020-11-18 21:37] tompi commented on #6
@axelasarmiento When you start a call you should get an instance of the ACSCall class. This has two methods you can use: MuteWithCompletionHandler and UnmuteWithCompletionHandler

[2020-11-19 17:56] mariusu-msft commented on #8
Closing this. Will send a new PR to update to 1.0.0-beta.5 fix the minOSVer

[2020-11-19 17:56] #8 closed

[2020-11-19 18:03] raosanat commented on #8
@mariusu-msft @tompi i made a last minute fix for this issue, so 1.0.0-beta.5 already has the proper short version in info.plist

[2020-11-19 18:15] tompi commented on #8
Hey. No need. I already figured out the correct git shas for beta 5 for the
other libs. Should be updated now

On Thu, 19 Nov 2020 at 18:56, Marius U <notifications@github.com> wrote:

--
Thomas.Haukland@gmail.com, 90786985

[2020-11-19 18:27] mariusu-msft commented on #8
We are going to be publishing to Trunk CocoaPods in next couple of days. I’ll send a PR for that when it will be available.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Thomas Haukland <notifications@github.com>
Sent: Thursday, November 19, 2020 10:15:42 AM
To: Laerdal/Xamarin.AzureCommunicationCalling <Xamarin.AzureCommunicationCalling@noreply.github.com>
Cc:

[2020-11-19 21:31] tompi commented on #7
@axelasarmiento Sorry I took a while to look into this, but today I uploaded my own app, which uses the same nuget, and has minimum version=12.0, and it worked fine... Also, from the logs, I see your swift bundling is happening, are you sure this log was from the same IPA that was rejected for missing swift deps? Do you do some further post-processing of the IPA after that log you posted?

Here is

[2020-11-30 07:55] tompi commented on #7
Closing after missing feedback

[2020-11-30 07:55] #7 closed

[2020-12-01 18:30] axelasarmiento opened #10 "(Android) No implementation found for com.azure.communication.calling.status"
Hi @tompi,

thank you so much for the new sample project using the NuGet packages

the iOS app is working great otherwise we are getting an error when we want to initialize the callingManager on Android _callingManager.Init(_token);

No implementation found for com.azure.communication.calling.status com.azure.communication.calling.NativeLibrary.sam_call_client_create(com.azure.communication.callin

[2020-12-01 18:58] tompi commented on #10
Hi. Not at my computer, but is this happening when debugging and linker options set to don’t link?

[2020-12-01 19:13] axelasarmiento commented on #10
yes, I have tested using different linker options and also in release mode

[2020-12-01 21:50] tompi commented on #10
I’ll check some devices tomorrow, but which device are you trying to debug on?

[2020-12-01 22:31] axelasarmiento commented on #10
I have been testing on different physical devices such as Galaxy Note 8 and LG Q5 and emulator using android 9 and 10

[2020-12-02 12:43] tompi commented on #10
@axelasarmiento Tested the app locally now, and didnt get any errors on initialization...
I assume this is not happening on the TestApp, but rather on your own app? Could you try adding an explicit reference to the "Xamarin.AzureCommunicationCommon.Android" and "Xamarin.AzureCore.Android" nugets? Also, if it crashes later on, compare to testapp nugets, I THINK you need to reference Square.OkHttp3

[2020-12-02 16:38] axelasarmiento commented on #10
I downloaded the TestApp project and I am getting the same error on the android side,
I verified the nugets you told me about but it is still showing the same message

<img width="464" alt="Screen Shot 2020-12-02 at 12 33 32 PM" src="https://user-images.githubusercontent.com/73547980/100902409-3c3ae500-349b-11eb-8f77-5bc8acf3d474.png">

[2020-12-03 10:12] tompi commented on #10
@axelasarmiento Could you check the ABI of your phones and emulators? (default for emulators are x86 I think which is not supported by ACS) .

To check ABI for your connected phone:
[code]
ACS only supports x86_64 and arm64-v8a

[2020-12-03 17:09] kagbakpem commented on #10
Thanks @tompi. @axelasarmiento, we currently only have support for x86_64 and arm64-v8a but will be providing support for the 32-bit ABI in our next release, so please stay tuned.
Re: your issue, if you figure out your issue is due to the unsupported ABI, let us know and we'll do our best to expedite the release if needed.

[2020-12-03 19:36] axelasarmiento commented on #10
hi,

we tested it on a newer android device and it worked!

Thank you so much for your help!

[2020-12-03 22:21] bigbbri commented on #10
Thanks @tompi for your help, we appreciate all of you.  Do you have an estimated date for the release that will support 32-bit ABI?

Thanks again,
Brian Adams
President, Ameliom IT LLC
A 30985 Oakview Rd Bulverde, TX 78163
M 210-452-1639
W www.ameliom.com

From: Komivi Agbakpem <notifications@github.com>
Reply-To: "Laerdal/Xamarin.AzureCommunicationCalling" <reply@reply.github.com>
Date: Thursday,

[2020-12-03 22:27] kagbakpem commented on #10
@bigbbri, things keeps evolving so can't give a definitive timeline but it's reasonable to expect a drop by the EOY.

[2020-12-04 07:45] tompi commented on #10
@bigbbri I'll keep this issue open, and close it once Microsoft releases 32 bit support and this binding lib is updated.

[2020-12-11 20:26] bigbbri opened #11 "Android screen freezes when other user hangs up"
Hi, we have iOS side working well but need your advice on the Android side.   We have a scenario that is failing in our Android app side, we have a user connected to a video/conf call via our website and we have an Android user connected to the same call.  If the web user hangs up (ending the call) the Android user's screen freezes.   We know we can see the disconnect in the VideoStreamsUpdated ev

[2020-12-14 07:26] tompi commented on #11
Hi Brian!

The "CallingManager" in the testapp is just a minimal abstraction over ACS on iOS and android, its in no way complete, and I dont have the time to make anything like that ;-) Ideally, we should maybe steal the javascript interface code that in c#(as interfaces/enums ets) and then implement these in iOS and Android. But this is quite some work, and unfortunately out of my scope.

Anyway,

[2021-01-14 08:48] willlimtc opened #12 "App Not Install using Android on Microsoft App Center"
Hi, first of all. Thank you for initiating this great project! I leveraged your project and tried to extend the capability on the Surface DUO device that has been made public just last year.
I first cloned your github project and developed on visual studio 2019. Then I used the debug mode to run it my physical DUO, which is shown below. It works fine.

![image](https://user-images.githubuserconten

[2021-01-14 10:22] tompi commented on #12
Hmm, I havent tried distributing debug-builds through app-center. I would recommend building in release mode.  If it doesnt work, try to build in release mode locally, if that doesnt work, post the build/runtime error logs afterwards. Might be some linking errors.

P.S. I take it the video works when you run it locally in debug?
P.P.S. Your log is truncated, so I dont think it shows the actual err

[2021-01-14 11:02] tompi commented on #11
Closing due to inactivity

[2021-01-14 11:02] #11 closed

[2021-01-14 13:13] #10 closed

[2021-01-14 13:14] tompi commented on #10
@bigbri 1.0.0-beta.5.1 should bring 32-bit support(and hence doubles the nuget size...)

[2021-01-14 19:00] willlimtc commented on #12
Thanks for the reply. Unfortunately, building in release mode doesn't work either on VS 2019 or the App-center. The error message in VS and app-center both look like this. It seems like linking errors. Do you have any insights?

Severity	Code	Description	Project	File	Line	Suppression State
Error		Mono.Linker.MarkException: Error processing method: 'System.Void Com.Azure.Android.Core.Util.DateTimeR

[2021-01-15 07:33] tompi commented on #12
@willlimtc Could you check your android version settings, there are 3 of them, I use 10 for "General -> Compile using" and "Android Application -> Target version" and 8 for "Android application -> Minimum version"

Also, maybe, just to test, you could change "linker behaviour" in your build setup. Im assuming its set to "link all assemblies"? Does it work if you set this do "do not link"?

Also wo

[2021-01-15 08:11] willlimtc commented on #12
Hi Thomas,
Thanks for the reply. Just to make sure I find the right place to do the setting adjustment.
1 The android version settings, I found the target version and minimum version setting in the android manifest tab as shown below. Is it the right place to set for 10 and 8? I didn't find general->Compile using. Do you know where to find this setting?
![image](https://user-images.githubuserconte

[2021-01-15 09:01] tompi commented on #12
@willlimtc I would think if you set "linking" to "none", that you would avoid the problem(at the cost of a much bigger apk...)

[2021-01-15 14:12] tompi commented on #12
P.S. I see you use VS on windows, havent tried that for a very long time... On mac its right click project then options to get here:
![Screenshot 2021-01-15 at 15 11 20](https://user-images.githubusercontent.com/231717/104737091-1c5a3a80-5744-11eb-8533-7ed1c34ec991.png)

[2021-01-17 13:59] Sarthak261995 opened #13 "Can you add live chat sample too"
Great work first of all.
Can you add Chat and live notification sample too

[2021-01-19 12:16] tompi commented on #13
@Sarthak261995 I just added what I needed in the sample. I checked quickstarts for ios and android, and they dont even have video calling in them... If Microsoft(or somebody else) makes samples for this; I should be able to add them here without too much trouble... At least for chat. Live notification requires Azure Notification Hub I think, so a bit work to setup...

Let me know if you figure it

[2021-01-20 19:01] willlimtc commented on #12
Hi Thomas,

I made the suggested changes and it is now successfully released. Thank you so much for your help!

Will

[2021-01-20 19:01] #12 closed

[2021-03-02 10:40] Immons opened #14 "Play sound through loud speaker"
Hello,

Thanks for binding libs. Have you maybe figured out how to play sound through loud speaker? Tried to iterate through SpeakerList, but there is only one, default and it plays through phone speaker.

Best regards

[2021-03-02 13:31] tompi commented on #14
Hi @Immons , you need to do this per platform. I do it when call state changes to "Connected".
On Android:
[code]

On iOS:
[code]

[2021-03-08 18:00] Immons opened #15 "Linker issues when using Link SDK assemblies only"
Hello,

Experiencing issue with linker in Android project when using bindings lib, have you maybe seen it and knows the resolution?

[code]

Best regards

[2021-03-08 18:15] Immons commented on #14
Thanks, that works well.

[2021-03-08 18:15] #14 closed

[2021-03-09 08:10] tompi commented on #15
Hey @lmmons
Probably my fault for not getting the dependencies right, I see my "actual" apps using ACS have a dependency on "Xamarin.Android.JakeWharton.ThreeTenAbp", could you try adding that on the android project and see if it works?

Not Sure why the "testapp" works without it, Ill try have a look next time I upgrade the libs, keeping this issue open till then.

[2021-03-12 12:41] Immons commented on #15
Hey @tompi I even added it some time after posting this and noticed it works, so that's the proper solution :)

[2021-03-12 12:41] #15 closed

[2021-04-15 17:41] WiproSarthak commented on #13
does this nuget include chat sdk also ? Or this is only for Video and Audio calling

[2021-04-16 05:53] tompi commented on #13
@WiproSarthak Sorry, just video/audio for now. It wraps the "Calling" api, and since this uses the "Common" and "Core" apis from microsoft, they are also included.

[2021-04-17 11:37] #13 closed

[2021-04-29 19:25] CARP-Kaiser commented on #15
Hello @tompi the testapp works without the nuget in debug mode but fails in release mode. It probably has to deal with the linker settings. Thank you for the example.

[2021-04-30 13:39] CARP-Kaiser opened #16 "Unable to get token. (Android)"
Hello,

I think I must be misunderstanding something in the rest service. I am using my azure keys to fill out the Ip and ApiUrl fields.

For the Ip I am using the endpoint minus the prefix that you append for server. For the ApiUrl I have tried a few things including the primary key and the connection string separately. I had also tried putting a "/" at the and of the ApiUrl since the original ex

[2021-05-03 12:13] tompi commented on #16
Hey, sorry for the late reply, but this really isnt related to the library...

I would suggest that you start with getting the calling heros sample up and running:
https://docs.microsoft.com/en-us/azure/communication-services/samples/calling-hero-sample?pivots=platform-web

This backend is pretty similar to what the app expects.
You need to setup your own backend api that will generate ACS tokens,

[2021-05-03 13:31] CARP-Kaiser commented on #16
@tompi that is great news. Thanks for the heads up. I had thought it might be something like that after reading the api documentation.

[2021-05-03 13:31] #16 closed

[2021-05-04 13:34] CARP-Kaiser commented on #1
@kagbakpem thank you! That is a good find.

[2021-05-10 08:07] NeerajRai111 opened #17 "Android: Video not shared in other device in group call"
I am able to launch and test the android setup in multiple devices. I am able to generate the access token and start the group call. It launch the front camera of the device and the video is rendered on the same device but it in transmitting to other device.

If I debug the code, function _call_RemoteParticipantsUpdated(object sender, ParticipantsUpdatedEventArgs e) never called.

Can you please h

[2021-05-13 20:54] tompi commented on #17
Sorry for late reply. Perhaps you could try a few things just to make sure everything is setup correctly:

1. You are generating different tokens for each device, right?
2. You are joining the same group(guid) on all devices?
3. Are you able to run the ACS web demo, and if so, can you try joining a group call from the mobile client?

[2021-05-14 08:52] NeerajRai111 commented on #17
Thanks Thomas for your response.

Initially, I was generating separate tokens but some how it was not working then I started using the same token.
Today, I again tried with the sperate token for the devices and it worked.

Apart from that, Do you have any reference for the text chat which could be utilized in Xamarin Forms APP.

Thanks

[2021-05-14 12:10] tompi commented on #17
@NeerajRai111 The chat is bundled in a separate aar from microsoft: https://search.maven.org/search?q=a:azure-communication-chat for android and this one for ios: https://cocoapods.org/pods/AzureCommunicationChat

I never had any use for chat, so I never made a nuget for these, sorry...

[2021-05-14 12:10] #17 closed

[2021-05-19 12:35] SeadnaS opened #18 "When I compile the Binding project some methods are missing from the DLL"
Hi and thank you for this very useful repo.

Having some issues getting the bindings to work properly when compiling and using the DLLs in the TestApp solution. Any help is very much appreciated.

I can successfully compile the Bindings project however when I replace the Nuget packages in TestApp with references to the Bidnings DLLs I get some red lines in VS.

In CallingManager.cs:

When I look i

[2021-05-19 13:25] tompi commented on #18
Hey, just to clarify: why are you trying to compile the bindings yourself?

It should be sufficient to use the nugets available on nuget.org.

To compile the bindings solution you first need to run the "*.sh" scripts to download native libs from maven and cocoapod, but you really dont wanna do that unless you HAVE TO ;-)

[2021-05-20 16:01] SeadnaS commented on #18
Hi Thomas,

We need to support a device running Android 5.1 and we were hoping to
compile the binding to target the correct API level.

*From:* Thomas Haukland ***@***.***>
*Sent:* Wednesday 19 May 2021 14:26
*To:* Laerdal/Xamarin.AzureCommunicationCalling <
***@***.***>
*Cc:* SeadnaS ***@***.***>; Author <
***@***.***>
*Subject:* Re: [Laerdal/Xamarin.AzureCommunicationCalling] When I compile
the

[2021-05-25 07:24] NeerajRai111 opened #19 "Android group call throwing exception"
Hi Thomas,

I am able to use your demo and able to do a video call but when I am using the same code with all the packages in another project solution then after generating token when I click on Call Group button, it is asking for permission, and after granting permission for everything, it throws this exception at this line:

_localVideoStream = new LocalVideoStream(camera, MainActivity.Instance)

[2021-05-25 08:31] tompi commented on #19
Hi @NeerajRai111

Could you check your manifest file against the demo and see if you are missing something ?

[2021-05-25 08:36] NeerajRai111 commented on #19
Hi @tompi,
I have copied everything from demo to the new project manifest. The only difference is the name of the package.
![image](https://user-images.githubusercontent.com/38005036/119466491-4bbc2c00-bd62-11eb-92af-a26568bc5714.png)

[2021-05-25 09:55] tompi commented on #19
Sorry, I didnt read the stacktrace properly last time. The problem is most likely that you are not setting the MainActivity.Instance on start. Check usages of that in my app and copy it in yours, it should be set when you start calling.

[2021-05-25 10:56] NeerajRai111 commented on #19
Thanks @tompi,

I missed to write "Instance = this;" in OnCreate() function. It is working now!

[2021-05-25 10:56] #19 closed

[2021-05-26 08:46] tompi commented on #18
@SeadnaS Ok, I see what you are trying to do now.  The ACS team used  "CompleteableFuture" in their lib and hence had a minimum android target of sdk 24...

In Beta-8, the switched to using retrofuture to be able to support devices as low as 21. Unfortunately, this lead to me bein unable to bind the lib, since the bindings generator doesnt like the retrofuture lib:

https://stackoverflow.com/quest

[2021-05-27 08:51] MhAllan opened #20 "How to do direct video call?"
I can't see how to do a video call to one user. I see call to a group only, and I don't know where does the group id come from. could you please ad some documentation

[2021-05-27 10:21] tompi commented on #20
Hi @MhAllan

This is just a wrapper for Microsoft APIs, so check out their documentation here:

ios: https://docs.microsoft.com/en-us/objectivec/communication-services/calling/
android: https://docs.microsoft.com/en-us/java/api/com.azure.android.communication.calling?view=communication-services-java-android

[2021-05-27 10:21] #20 closed

[2021-05-27 10:22] tompi commented on #20
Oh, and the group id is just a random Guid, you can just make up whatever you want

[2021-05-27 11:10] MhAllan commented on #20
Thanks for quick reply @tompi . I am looking for this piece of code

[code]

found here: https://docs.microsoft.com/en-us/azure/communication-services/quickstarts/voice-video-calling/get-started-with-video-calling?pivots=platform-android

but CallAgent of your wrapper doesn't have such a method

[2021-05-27 12:54] tompi commented on #20
@MhAllan You are correct, my binding is currently stuck on beta-7, until I figure out a workaround for #18

On beta-7 the same method was called "Call". Try using that!

[2021-05-27 14:35] MhAllan commented on #20
Thanks @tompi, I will try that. re #18 if you have branch with all new dependencies ready please share it so we can try our luck XD. I only see master

[2021-05-28 07:30] tompi commented on #18
@SeadnaS Just to clarify your initial question, you get this error

"Error 'CallClient' does not contain a definition for 'CreateCallAgent' and no accessible extension method"

Since the the signature of the java method "CreateCallAgent" changed in beta-8 and forward from this:

https://docs.oracle.com/javase/8/docs/api/java/util/concurrent/CompletableFuture.html

to this:

https://github.com/retr

[2021-05-28 12:01] SeadnaS opened #21 "Cannot add CallAgentOptions when initializing ACS in CallingManager"
We are building our app for Xamarin forms (Android) currently with your NuGet package and we want to add a caller display name. My attempt to implement this has been to create a new CallAgentOptions() and set the callAgentOptions.DisplayName = displayName.

[code]

Unfortunately when I try to run it on my Android phone I get this error on the line **CallAgentOptions callAgentOptions = new CallAgen

[2021-05-28 13:45] tompi commented on #21
I just tried this on a device and it worked fine...(I didnt test that displayname was propagated, but that isnt your problem apparently).

Your code seems to crash on the constructor of callAgentOptions, does it work if you dont use options?

Also: does the example test app work on your phone?

[2021-05-28 14:51] SeadnaS commented on #21
Example test app works fine on my phone. Also works fine without options.

[2021-05-28 14:52] SeadnaS commented on #21
My device is a Samsung Galaxy A71

[2021-05-28 15:39] tompi commented on #21
Check manifest and project of testapp file against your app. Make sure you
include the legacy http stuff and all the nugets

On Fri, 28 May 2021 at 16:53, SeadnaS ***@***.***> wrote:

--
***@***.***, 90786985

[2021-05-28 16:04] SeadnaS commented on #21
The manifest is exactly the same apart from the manifest package attribute.

I have included all Azure NuGet packages:

- Xamarin.AzureCommunicationCalling.Android
- Xamarin.AzureCommunicationCommon.Android
- Xamarin.AzureCore.Android

[2021-05-28 16:18] SeadnaS commented on #21
I also added all the other NuGet packages listed in your TestApp. Still getting the same error. I will try this on my old Huawei and see if it works there.

[2021-05-28 16:48] SeadnaS commented on #21
I just added the CallAgentOptions to your TestApp and ran on my Galaxy and it's also getting this error.

[2021-05-28 17:00] SeadnaS commented on #21
Tried our app on my old Huawei P20 Pro. Looks like it happens on multiple devices:
![image](https://user-images.githubusercontent.com/67462486/120018107-9cd85400-bfde-11eb-98e3-16fdc916b165.png)

[2021-05-28 17:30] SeadnaS commented on #21
I have found the solution.

[code]

Looks like the the new CallAgentOptions() needs to happen after the new CallClient().

[2021-05-28 17:54] tompi commented on #21
Good thing you figured it out. I suspect this is a bug in the droid acs lib

On Fri, 28 May 2021 at 19:30, SeadnaS ***@***.***> wrote:

--
***@***.***, 90786985

[2021-06-10 09:46] #21 closed

[2021-07-09 11:21] SeadnaS commented on #11
Was this ever solved? I am having a similar issue however it happens on android side when it hangs up itself (not from other side)

[2021-07-09 12:40] SeadnaS opened #22 "Android device freezes when calling hangup method"
I have a hangup method which causes the app to hang every time. It hangs at the _call.Hangup() line and no exception is thrown:

[code]

LogCat:

Any ideas what is happening or how to proceed fixing it?

[2021-07-09 22:54] tompi commented on #22
I’m not sure, but is my example app working or is the hangup causing a crash on your device as well?

if it works, you might just check if get instead of getasync works on the hangup method.

[2021-07-12 10:54] SeadnaS commented on #22
Hmm it seems to be fixed by removing the .GetAsyc()

[2021-07-15 09:39] tompi commented on #22
@SeadnaS I have an idea of whats happening, if hangup takes too long, and you are awaiting it on the UI thread, you would most likely get an ANR. This report indicates hangups take a while on android:

https://github.com/Azure/Communication/issues/339

[2021-07-15 09:39] #22 closed

[2021-12-05 04:43] MhAllan opened #23 "can't render local camera on android more than once"
I tried the android library, I am using Join Group and it works fine for the first time, but after that it doesn't render local camera, no matter, there are no errors, and the renderer is creating native view, but it just doesn't show anything. I tried to dispose the call, the camera, the agent, the device manager, some of them, all of them, still no luck.

Edit 1,
After experimenting, the second

[2021-12-06 11:57] tompi commented on #23
Hey @MhAllan , not sure Im reading your edits correctly, but did you make it work by disposing the local renderer?

Not sure I understand what you mean by edit nr 3...

The example app should work fine with multiple repeated calls to a group conv?

[2021-12-06 12:10] MhAllan commented on #23
Yes it works if we dispose the renderer, I was using helper method to dispose the objects

[code]

surprisingly, that doesn't dispose the objects, the camera will keep running. but if you dispose the objects directly without this helper method `_camera.Dispose()` or changed the signature of that helper method to `void Dispose(dynamice obj)` then it will work. It is very weird

[2021-12-08 07:33] tompi commented on #23
@MhAllan Since you can explicitly implement interfaces(like IDisposable) calling ((IDisposable)obj)Dispose() and obj.Dispose() doesnt have to be calling the same method... Im assuming this is an effect of the binding, will try to have a look  when I get around to upgrading android lib to latest ACS version.

[2021-12-14 17:46] MhAllan opened #24 "When local camera preview renders other sounds of the app become low volume"
I am trying to do this, when I call and before the other side joins, I want to show the camera preview and play out ringing sound. the sound starts good but once the camera preview renders (before streaming out my camera through the call and before participants joins so it has nothing to do with ACS I suppose) the sound dims and can't be increased to it's normal volume.

I am using this for playin

[2021-12-14 17:50] MhAllan commented on #24
I think it is intended behaviour to lower the media and increate call volume

[2021-12-14 17:50] #24 closed

[2021-12-16 15:04] tompi commented on #24
@MhAllan I think you are right about this being done "on purpose" by ACS, but I think you can still work around it by setting different sound profiles manually, e.g. you could find out where ACS sets the sound profile to some sort of communication, and then manually override to "media" so your ringer plays, and then hook up an event handler to connection state changed for acs and change profile to

[2022-01-19 12:00] tompi commented on #18
@SeadnaS I worked around this now by creating another helper library.

You should be able to use latest version of ACS sdk on Android also now(2.0.0),
by utilizing the helper library(Just some static methods to replace those missing during binding)

See 37,38 and 96 of this file for examples:
https://github.com/Laerdal/Xamarin.AzureCommunicationCalling/blob/master/TestApp/AzureCommunicationVideoTe

[2022-01-19 12:00] #18 closed

[2022-04-06 13:09] kungbernard opened #25 "LocalVideoStream.switchSource is missing in Android"
Hi and thank you for creating this package. It has been a great move to utilize Azure Communication Services in Xamarin.

When I am testing on the Test app project, I have been successfully add the switch camera for iOS
but when moving into Android, the switchSource in LocalVideoStream is missing

I have a look into the Microsoft docs and there should be a switchSource method
https://docs.microsof

[2022-04-06 13:44] tompi commented on #25
Hey! Nice to hear you could use the nugets.

The binding tools barfs on the "CompletableFuture" types, so I needed to create a separate wrapper
that returns the underlying type instead of the completablefuture...

You need to use the "CallClientHelper" for this, you can do it like this:

[code]

CallClientHelper is in this package:
https://www.nuget.org/packages/Xamarin.AzureCommunicationCallingHe

[2022-04-06 13:46] kungbernard commented on #25
Thanks alot @tompi

Just found that there's a beta version available for the helper

Found the helper method now, Thanks again!

[2022-04-06 13:46] #25 closed

[2022-04-19 23:45] kungbernard opened #26 "Call.StartVideo and Call.StopVideo is missing in Android"
Hi again and thanks for the package and support for it, it has been working great!

Recently I would like to include the feature to start / stop local camera share during the call
Looking at the Calling SDK there's a Call.StartVideo() and Call.StopVideo() in the andorid SDK
https://docs.microsoft.com/en-us/java/api/com.azure.android.communication.calling.call.startvideo?view=communication-services

[2022-04-21 07:37] tompi commented on #26
Try version 2.0.0-beta.1.2 of Xamarin.AzureCommunicationCallingHelper.Android

[2022-05-19 21:29] andersonvieiragomeslopes opened #27 "[iOS] 15.5 build failed _CollectFrameworks"
We are experiencing an issue in your example when running on an iOS 15.5 device: Target "_CollectFrameworks" does not exist in the project
Any idea what this problem is about?

[2022-05-23 13:08] tompi commented on #27
Sorry about the late reply, but not sure about this...

Is it happening in debug mode also? Or just release?
(gut feeling says linker issue... Could you try link none?)

Also, is same build/ide working on another phone?

Also, which physical device is this?

[2022-05-23 15:55] andersonvieiragomeslopes commented on #27
Thanks for the answer.

We are using it in debug mode on an iphone 8 plus physical device, but it doesn't work on emulators either. Do you have a local file that hasn't been uploaded to the repository?
I tested the 3 linker options but I was not successful in any, I also created a linker.xml file to set the classes but without success.

You can try to simulate the problem by adding the nuget in a

[2022-05-23 19:29] tompi commented on #27
Im using the nuget in 2 different apps built in appcenter so im pretty confident it works outside my machine ;)

You are using visual studio 19?
If you do a git status in your repo folder, does it show "working tree clean" ?

[2022-05-23 19:54] andersonvieiragomeslopes commented on #27
I'm using visual studio 2022 and visual studio 2022 preview, I'm going to download 2019 to check if it works and I'm in windows/macOS environment on both the problem occurs, direct debug on macOS and remote debug windows on macOS.

Yes, the only changes I made were the development credentials to debug on a physical device with id authorized in the development key. But it was very easy to notice th

[2022-05-23 20:36] tompi commented on #27
I dont think 2022 is released for mac yet?

Last time I tried using it things started breaking bad pretty quickly...

I probably wont spend time making it work there until 2022 makes it into the appcenter/devops images.

[2022-05-23 21:07] andersonvieiragomeslopes commented on #27
Yes
![image](https://user-images.githubusercontent.com/26186056/169906013-5b8b654e-e8b5-4b0b-bb03-6e5f07130d20.png)

Update: Finally I managed to install it on an emulator, but the physical device still has the same problem, what is curious is that the error persists and there are failures in attempts to install the emulator, it is necessary to insist to be able to install.

[2022-05-24 09:51] jveenhuizen commented on #27
Hi!

I also experience the same problem when installing the nuget package for iOS. Both at visual studio 2019 and 2022 and both on a physical device (iPhone 13 mini) as a simulator. iOS sdk version 15.5. I also remember getting this error sometime last week on 15.4. Is there anything I can do to get this working or to help?

[2022-05-24 12:10] andersonvieiragomeslopes commented on #27
@jveenhuizen  If the problem is with the packaging I believe just generate a new local nuget and add it to the project, when things started to go bad in visual studio 2022 do you remember the exact reason @tompi ? I'm assuming it's something simple to solve in nuget packaging.

[2022-05-24 12:53] jveenhuizen commented on #27
The build output:

[code]

This is the package i'm installing:

![Schermafbeelding 2022-05-24 om 14 47 22](https://user-images.githubusercontent.com/88036760/170038111-b64da3a4-38cc-4d4e-aa1f-28be1e28edf0.png)

And everything is up to date with my visual studio & xcode.

![Schermafbeelding 2022-05-24 om 14 50 12](https://user-images.githubusercontent.com/88036760/170038685-7f0d455a-abed-4a3a-9e57-

[2022-05-24 13:16] tompi commented on #27
When I think about it, I probably should not declare a dependency on xamarin.swift, and just let people use their own, especially since microsoft has a nuget for this(even though i never managed to get it working...)

I will try to publish a version without this dep.
(you probably wont even need it if you target a platform with swift bundled, ios 12.2 i think)

[2022-05-24 13:16] jveenhuizen commented on #27
Deleted .vs / bin / obj files and used vs 2019. Stil the same issue.. :-(

[2022-05-24 13:19] andersonvieiragomeslopes commented on #27
@tompi i'm guessing there is some breaking change from microsoft.
Do you believe this problem is related? https://github.com/xamarin/xamarin-macios/issues/14203

I formatted macOS last Sunday thinking it was local :( but unfortunately the problem persisted.
I can't find visual studio 2019 for mac, strangely it doesn't show up on the download page for previous microsoft versions.

[2022-05-24 13:44] jveenhuizen commented on #27
@tompi I'm using the vs nuget manager. Highest version there is 1.1.0.4 (see screenshot above)

[2022-05-24 13:46] andersonvieiragomeslopes commented on #27
Do you you need to enable nuget previews.
These latest most up-to-date versions are in beta status.

[2022-05-24 13:52] andersonvieiragomeslopes commented on #27
I was able to install on a physical device now!!!!!!!!!!!!!!!

[2022-05-25 07:16] #27 closed

[2022-06-08 15:55] andersonvieiragomeslopes opened #28 "DisplayName missing on Android"
Could you add one more parameter to be able to define a name for the user? is that it currently does not display the participant's name on android due to the absence of this item.

Your Code : https://github.com/Laerdal/Xamarin.AzureCommunicationCalling/blob/5ce72cd83977fc5ee8b0b37380745b561112a8e4/Bindings/Android/AzureCommunicationCallingHelper/src/main/java/com/laerdal/azurecommunicationhelper/

[2022-06-11 17:28] andersonvieiragomeslopes opened #29 "Screensharing is available for android!"
Hi again, and thanks for the package and the support service provided, it has been working well.

Screensharing was recently added to the project, could you update the android package so we can test the feature?

https://github.com/Azure/Communication/blob/master/releasenotes/acs-calling-android-sdk-release-notes.md
Version: v2.3.0-beta.1 (2022-06-07)

Thanks!

Best Regards
Anderson Lopes

[2022-06-14 12:07] tompi commented on #28
sorry, busy with other stuff, but will make a release this week. I assume exposing the options param is the best approach, should be future proof if they add more stuff

[2022-06-17 12:13] andersonvieiragomeslopes commented on #28
@tompi Thanks, the next android/iOS versions are full of improvements :) when you publish let me know, please.

[2022-06-18 06:56] PeterHeasler opened #30 "StopVideo not releasing camera"
Steps to reproduce:
- streaming video on a call successfully
- Call method to stop video
- Launch camera to take picture

Issue:
- Camera app shows black image
- Have to wait 60+ seconds before the camera app is able to use the camera and show video so a picture can be taken

Details:
Am calling the following to stop video:
- `Com.Azure.Communication.Calling.Call.StopVideo(call.LocalVideoStreams[0

[2022-06-18 12:34] tompi commented on #30
1.0.0-beta 7 is really old...

Did you look at the sample app?

you should be able to install Xamarin.AzureCommunicationCallingHelper.Android ?

[2022-06-18 14:41] tompi commented on #28
@andersonvieiragomeslopes  just published 2.2.0 and new version of helper to allow setting display name.
upgrade to helper 2.2.0 and see this commit for how to set display name:

https://github.com/Laerdal/Xamarin.AzureCommunicationCalling/commit/fab930bae34f9116497b1a9dec0b5fc3ed6ddde0#diff-27d724e536872911fd95f7915b2072ea284b94eb2e4f3dad12308a69ab31707e

will release 2.3 beta shortly

[2022-06-18 15:20] tompi commented on #29
@andersonvieiragomeslopes i just released binding for 2.3.0-beta.1

The catch is any competeableFuture methods will be dropped...
Just let me know which ones you are missing and I will add them to the helper

[2022-06-18 15:21] tompi commented on #23
should be fixed in the latest releases

[2022-06-18 15:21] #23 closed

[2022-06-18 15:51] PeterHeasler commented on #30
I tried updating based on the latest sample app. However the sample app has a reference to `using Com.Laerdal.Azurecommunicationhelper;` and I'm not sure where/how to get/resolve that.

[2022-06-18 16:22] andersonvieiragomeslopes commented on #29
Yes, that's correct, I understood the helper's motive when I looked deeper into the sdk, his work was the best so far.

 Do you accept contributions (Xamarin.Forms) to improve the sample (new app TestApp2 android/ios/uwp) app's designer and functionality? Match it to the official azure app, include all official features, show participants, configure audio output, integration with teams and others,

[2022-06-18 16:24] andersonvieiragomeslopes commented on #30
This? https://www.nuget.org/packages/Xamarin.AzureCommunicationCallingHelper.Android/2.3.0-beta.1.2

[2022-06-18 16:26] tompi commented on #30
Yes. Thats it

On Sat, 18 Jun 2022 at 18:24, Anderson Lopes ***@***.***>
wrote:

--
***@***.***, 90786985

[2022-06-18 16:26] andersonvieiragomeslopes commented on #28
It works perfectly, thanks.

[2022-06-18 16:26] #28 closed

[2022-06-18 16:39] tompi commented on #29
Of course, that would be great! Send a pull request

On Sat, 18 Jun 2022 at 18:22, Anderson Lopes ***@***.***>
wrote:

--
***@***.***, 90786985

[2022-06-18 16:47] PeterHeasler commented on #30
Thank you, I've added that to the project and am in the middle of updating.

However, now I'm seeing this error:

`
Error	CS1061	'Call' does not contain a definition for 'StopVideo' and no accessible extension method 'StopVideo' accepting a first argument of type 'Call' could be found (are you missing a using directive or an assembly reference?)`

Same for StartVideo.

What is the right way to:
-

[2022-06-18 17:03] andersonvieiragomeslopes commented on #30
@PeterHeasler Do you have all references up to date?
https://www.nuget.org/packages?q=Xamarin.AzureCommunication

[2022-06-18 17:14] PeterHeasler commented on #30
Yes, I've updated all to the latest, including prerelease, and I still have the same issue:

![image](https://user-images.githubusercontent.com/2661933/174449382-54950484-a6c4-4dbe-97c8-357e6dee1e3f.png)

[2022-06-18 17:56] tompi commented on #30
There is an issue with generating the bindings and Java completeable future.

To use the stop video you need to call the helper class, same way you
initiate a call, there should be a method called stop video that takes the
call as input I think.

On Sat, 18 Jun 2022 at 18:47, Peter ***@***.***> wrote:

--
***@***.***, 90786985

[2022-06-18 20:39] PeterHeasler commented on #30
Ok, after reverting, reupdating the libraries again, updating the code again, I was finally able to start a call successfully.

However, I still have the same original issue:

---
Steps to reproduce:

- streaming video on a call successfully
- Call method to stop video `CallClientHelper.StopVideo(_call, _localVideoStream, Application.Context);`
- Launch camera to take picture

Issue:
- Camera app

[2022-06-19 03:09] PeterHeasler commented on #30
I think I might have resolved it, I'll do some additional testing and confirm tomorrow.

[2022-06-19 16:09] PeterHeasler commented on #30
It's running in debug mode from Visual Studio but I have a bunch of access denied errors when trying to install the apk

[code]

any ideas?
Manifest permission request maybe?

[2022-06-19 21:52] tompi commented on #30
Sounds strange. Maybe linker issues? Does it run fine locally when building
for release?

I’m assuming you tried both on same device?

On Sun, 19 Jun 2022 at 18:09, Peter ***@***.***> wrote:

--
***@***.***, 90786985

[2022-07-04 11:02] jveenhuizen opened #31 "iOS: ACSException - Attempting to get event handler for a cookie which was never added."
Hello!

I put the AzureCalling code in an iOS app and it works for the most part. However, sometimes (~50%) I have a crash when I hang up the call. See stack trace below. Does anyone else have this problem or am I missing something? I get almost the same crash every now and then when answering a call (~10%).

[code]

[2022-07-04 14:33] andersonvieiragomeslopes opened #32 "Methods for accept/reject direct calls"
Hello.

I noticed that there are methods missing in the helper to accept calls, I believe the implementation is this:

`    public static Call Accept(Call call,IncomingCall incomingCall, AcceptCallOptions acceptCallOptions, Context context) throws ExecutionException, InterruptedException {
        return incomingCall.accept(context,acceptCallOptions).get();
    }`

`     public static void Reject(

[2022-07-05 06:31] tompi commented on #32
Hey, can you test this:
https://www.nuget.org/packages/Xamarin.AzureCommunicationCallingHelper.Android/2.3.0-beta.1.3

Just added a "get()" to your code to make it sync in the helper.

[2022-07-05 06:47] tompi commented on #31
I have seen this, but its been a while...

Like @andersonvieiragomeslopes , i think its due to lacking cleanup, but not sure...
My cleanup code has been through some iterations, and at the moment it looks almost like andersons,
except I also dispose the callagent, that might not be an option for you...

I also set every local to null and also cleanup event listeners.

I reported a bug to ms on thi

[2022-07-05 06:57] tompi commented on #29
@andersonvieiragomeslopes can I close this issue? It was originally about upgrading libs, which I think is ok now?

[2022-07-05 07:01] jveenhuizen commented on #31
Thank you for the reply's!

I'm using video

Yes I did!

I'm using 2.2.0-beta 1.4 (released for other bugfix) will try 2.2.0.1 now

Yes it also happens from the first call, both answering and hanging up the call

I'll try also today, hope it helps :-)

[2022-07-05 11:36] andersonvieiragomeslopes commented on #29
@tompi Yes, tweaks to the helper are not necessary, thanks, add the feature as well to the new example that is under construction.

[2022-07-05 11:42] andersonvieiragomeslopes commented on #32
@tompi Where? I don't understand the adjustment, can you give me an example or show me?

[2022-07-06 12:04] tompi commented on #32
Sorry, I probably messed up something in the binding and wasnt testing the result...

2.3.0-beta.1.4 should have your two new methods

[2022-07-06 19:13] andersonvieiragomeslopes commented on #30
PeterHeasler did you manage to solve the problem? I'm going to start implementing the video in an app with more feature that I'm making to submit to this project soon, I'm sure I'll have the same problem, if you've solved it, please share.

[2022-07-07 01:04] PeterHeasler commented on #30
Thanks for the ping.

Yes, I did solve it, but in the old version of the code (because I had trouble with my APK with the updated libraries)
I'm sure the solution is the same.

I'm OOO until Sunday, I'll submit a PR to the main branch when I'm back

[2022-07-07 08:44] tompi commented on #32
@andersonvieiragomeslopes ooops, i see what you mean about the call param, try the latest.

As for the reason this stuff is not automatically picked up by the binding generator, I dont know why, but I know its caused by microsoft using the retrofuture library, its all methods using the completable future from that library that is not picked up by the bindings generator...

I tried asking ms about

[2022-07-07 11:09] tompi commented on #31
@jveenhuizen some more details here:
https://github.com/Azure/Communication/issues/423

[2022-07-07 11:21] andersonvieiragomeslopes commented on #32
@tompi Now I understand the problem. How is this helper generated? I tried to generate the library but it comes out as debug.aar and even changing the Build Variants to release the package seems to be broken and things don't work when doing the binding. Being able to test this here locally can help by giving you the methods that have already been tested and validated here on my machine, what do yo

[2022-07-07 11:35] jveenhuizen commented on #31
Updated to 2.2.0.1, added null checks and did some more cleanups. I haven't seen it since... fingers crossed I think?

[2022-07-07 13:18] tompi commented on #31
hehe, programming and religion shouldn't be this similar, but sometimes all we can do is thoughts and prayers... keeping this open for a while, let me know if it happens again!

[2022-07-08 06:48] tompi commented on #32
@andersonvieiragomeslopes I am just running
"gradle build"
and then you should have both debug ant release builds in build/output/aar/

[2022-07-12 20:37] andersonvieiragomeslopes opened #33 "[Feature] PushNotification Android"
Hi, again.

I noticed that there is a lack of implementations for the push function on android, I did some tests here and I believe that this is the fix based on the official documentation/example.

[Official example](https://docs.microsoft.com/en-us/azure/communication-services/how-tos/calling-sdk/push-notifications?pivots=platform-android)

[code]

[2022-07-14 16:17] andersonvieiragomeslopes commented on #29
@tompi the example with more features is under construction, I believe it makes sense to keep this open until the feature is added there. What do you think? I'm finalizing the last details to submit the PR, but the readme is already available.
https://github.com/andersonvieiragomeslopes/Xamarin.AzureCommunicationCalling

[2022-07-29 13:57] andersonvieiragomeslopes commented on #30
Hello, @PeterHeasler.

Sorry for the late answer.

Well, if you can share a quick snippet of the code, it would be nice, we have this camera problem on android, iOS and Windows are working as expected, :(

[2022-08-04 12:28] tompi commented on #29
merged the pr, thank you for the wonderful examples @andersonvieiragomeslopes

[2022-08-04 12:28] #29 closed

[2022-08-04 12:35] andersonvieiragomeslopes commented on #33
@tompi Can you help with this item? This is really necessary so that the user can answer the cell phone with the screen off, I intend to do 3 more PR with items that are still missing from the list.

[2022-08-05 14:23] #33 closed

[2022-08-05 14:24] tompi commented on #33
@andersonvieiragomeslopes please check if [2.3.0-beta.1.6](https://www.nuget.org/packages/Xamarin.AzureCommunicationCallingHelper.Android/2.3.0-beta.1.6)
works as intended

[2022-08-05 14:26] tompi commented on #31
Assuming this is fixed since it is not occuring anymore, feel free to reopen if its still a problem

[2022-08-05 14:26] #31 closed

[2022-08-05 17:53] andersonvieiragomeslopes commented on #33
@tompi I think something went wrong with the plugin, the methods are not there.

![image](https://user-images.githubusercontent.com/26186056/183133310-81bfb1c3-fcca-4f32-bf10-0ee528f34bc8.png)

[2022-08-06 08:51] tompi commented on #33
@andersonvieiragomeslopes  ooops, sorry, not sure what went wrong, should have tested...
[2.3.0-beta.1.6](https://www.nuget.org/packages/Xamarin.AzureCommunicationCallingHelper.Android/2.3.0-beta.1.7)
should fix it

[2022-08-24 20:54] aodegov opened #35 "Android video streaming issue"
### Issue prerequisites
___

1. Used [TestSample project](https://github.com/Laerdal/Xamarin.AzureCommunicationCalling/tree/master/TestSample)

2. All functionality in the `TestSample` according to [latest commit](https://github.com/Laerdal/Xamarin.AzureCommunicationCalling/commit/c8b1dc3d5c2c8abf3b30a6cba16a6896f9a05e76), for this time (24th of August 2022)

3. Tested on real devices:
    **Andro

[2022-08-25 00:09] andersonvieiragomeslopes commented on #35
Hello @aodegov.

Sorry, I believe this issue went unnoticed due to the high amount of items that were provided in the example, don't worry, I'll fix it tomorrow.

[2022-08-26 00:07] andersonvieiragomeslopes commented on #35
Hello @aodegov.

The fixes have been submitted, it's small details, you can easily capture it so you don't have to wait too long.

[2022-08-26 03:42] aodegov commented on #35
Thanks @andersonvieiragomeslopes , I'll take a look.

[2022-08-26 17:08] aodegov opened #37 "Android and iOS video issues"
### Issue prerequisites
___
Used [TestSample project](https://github.com/Laerdal/Xamarin.AzureCommunicationCalling/tree/master/TestSample)

All functionality in the TestSample according to latest [PR #36](https://github.com/Laerdal/Xamarin.AzureCommunicationCalling/pull/36),
for this time (26th of August 2022)

Tested on real device:
Android: Huawei P20 pro
iOS: iPhone 12 Pro
And web browser app:

[2022-08-26 17:11] aodegov commented on #35
@andersonvieiragomeslopes, I've checked your latest changes.
Thanks, in general looks better.
But there are steel several issues with video.
Please see my newest ticket: #37
And I'll close this one, hopefully @tompi doesn't mind )

[2022-08-26 17:11] #35 closed

[2022-08-26 18:51] andersonvieiragomeslopes commented on #37
Maybe this problem has something to do with this one #31 what do you think? I need to investigate, I have not received reports of this issue with video on iOS.

After I did the implementation I found that this wouldn't work for call in progress, I'll upload the fix for this issue.

This problem is the same as reported here: #30 and I also need some help to solve this, @tompi do you have any ideas?

[2022-08-26 18:53] andersonvieiragomeslopes commented on #37
There are several problems with the video, this one in problem #30 seems to me the worst, because the camera no longer works on the second call or if it is deactivated during the call, curiously, it seems like a local problem only, because the other side remains working well, which makes the problem less serious, although serious :/

[2022-08-30 15:58] andersonvieiragomeslopes commented on #37
Hello @aodegov .

I noticed that problem #30 also occurs if the user changes the camera (front/back) a few times, were you able to find a solution to this problem there?

[2022-08-30 16:52] aodegov commented on #37
Hi @andersonvieiragomeslopes.
All current issues related to my experience with TestApp are here. Also I'm not sure about #30 point. How this can help to fix issues, that described here?

[2022-08-31 12:46] andersonvieiragomeslopes commented on #37
Hi @aodegov.

is that this problem #30 occurs when the user turns the video on and off and tries to turn it on again and then it freezes on a white page, the problem you mentioned is the same.

If we can find a solution to this blank frame, we solve the main problem that we have here and that is the same as in #30

[2022-09-06 12:02] andersonvieiragomeslopes commented on #37
Hi @aodegov @tompi

I discovered the problem with the video when turning the camera off and on again, it has to do with the discarding of the elements, I will upload a fix that will solve this and other problems with the video.

[2022-09-15 21:49] aodegov commented on #37
Hi @andersonvieiragomeslopes,
I've checked your latest PR #39.
Thanks for doing this!
You managed to improve the Test app.
After my test on Android, I can confirm, that issue №3  from my list is fixed.
Issues 2 and 4 are still existing.
Still can't switch the back and front cameras on my Android during the call.
And also, I have unexpected behavior as I posted in 4th point, once camera turned on b

[2022-10-06 11:34] andersonvieiragomeslopes opened #41 "Update libraries Android and iOS"
Hello, @tompi

Could you update to the latest two versions of the library? It has new features to use.

iOS: 2.4.0-alpha.1 and 2.3.0-beta.1
Android: 2.4.0-alpha.20220829.1 and 2.4.0-beta.1

[2022-10-10 09:25] tompi commented on #30
Seems @PeterHeasler resolved this issue on his end...

[2022-10-10 09:25] #30 closed

[2022-10-12 07:18] tompi commented on #41
Hey, I updated to the betas now, and published to nuget.
Do you need the alphas as well?

Let me know if anything is missing/not working.

P.S. I tried making callclient, callagent and videostreamrenderer transitive, hoping it might help with more eager gc, let me know if you experience strange behaviour!

[2022-10-12 13:21] andersonvieiragomeslopes commented on #41
Thanks @tompi.

In the alpha version of iOS I thought that [this would be available here](https://github.com/lucianopa-msft/azure-docs/blob/lucianopa/raw-outgoing-video-ios/articles/communication-services/ quickstarts/voice-video-calling/includes/raw-media/raw-media-access-ios.md) but it's not, I downloaded the library to look and make sure of it, I ended up forgetting to update on the problem and

[2022-10-12 18:49] raosanat commented on #41
`lipo` should not be used anymore. Any apps built with `lipo` frameworks will be rejected.

[2022-10-12 19:02] andersonvieiragomeslopes commented on #41
Hello @raosanat.

Are you talking about it here https://github.com/Azure-Samples/communication-services-ui-library-xamarin/blob/119a57db96253aa67a9e2926ddf821fbeae74088/XamariniOSBindings/ProxyLibs/CommunicationUI-Proxy/iOSFramework.sh#L51?

Well, I'm not an expert on the subject of links, if you have any step by step on the subject, I'd appreciate it.

In this CommunicationUI Xamarin project I'm

[2022-10-12 19:22] raosanat commented on #41
thanks for the reference, let me reach out to Joshua for more info on this.

[2022-10-12 19:58] JoshuaLai commented on #41
@andersonvieiragomeslopes at quick glance it looks like you have a spelling mistake in `output`, not sure if that was you copy and pasting or just you typing it out. Otherwise we can investigate intoyour `lipo` command not having have the proper output files.
We can try first making a copy of the framework somewhere and using that as a temporary file that we can write our output to
[code]

Try thi

[2022-10-12 20:13] JoshuaLai commented on #41
@andersonvieiragomeslopes If you are having trouble with the Xamarin UI library sample please leave a git issue and we would be happy to help you out there as well

[2022-10-13 14:37] andersonvieiragomeslopes commented on #37
Hello, @mcblacksea .

Problem 4 remains in the latest version, I'm still thinking how to solve it without generating processing load on screen loading :( I added a path that can help you, just need to [uncomment the lines](https://github.com/Laerdal/Xamarin.AzureCommunicationCalling/blob/e12c4332744f8b28e02b2d281fa690352777ecd5/TestSample/TestSample/ViewModels/CallViewModel.cs#L347) and test to va

[2022-11-08 19:07] andersonvieiragomeslopes opened #43 "Update libraries Android (2.5.0-beta.1) and iOS (2.3.0.beta-2)"
Hello @tompi.

Finally screen sharing has arrived on iOS, as soon as the nuget version is available I will implement it for iOS.

https://github.com/Azure/Communication/releases

[2022-11-10 08:52] tompi commented on #43
@andersonvieiragomeslopes updated nugets now. Let me know if you are missing something.

P.S. checked on the binding generated class parser file for android, so its easier to see which new methods I should add in the helper lib

[2022-11-10 15:09] andersonvieiragomeslopes commented on #43
Thanks @tompi.

https://github.com/Azure/azure-sdk/issues/4373

![image](https://user-images.githubusercontent.com/26186056/201131545-edf14f63-23e0-4964-a4a8-30bf23ed75d6.png)

System audio sharing is also available, I will analyze and send you the necessary methods to add to the communication helper.

[2022-11-11 07:14] tompi commented on #43
@andersonvieiragomeslopes as long as its not a Future, it should be available in the regular lib.

Its only the futures that are not caught by the binding lib.

[2022-11-11 12:42] andersonvieiragomeslopes commented on #43
Hi @tompi.

![image](https://user-images.githubusercontent.com/26186056/201340462-c44ee258-c480-49f1-8932-84b206ecf2f5.png)

Maybe, this audio sharing api has been renamed, I didn't find it here and it seems that they put it inside this element (Call) as mentioned in this little code in the ticket above.

[2022-11-11 12:49] andersonvieiragomeslopes commented on #43
Hi @tompi

[This ACSRoomCallLocator ](https://github.com/Laerdal/Xamarin.AzureCommunicationCalling/blob/b4489128a64c56d1f5ec28c910f39b02088fa9f2/Bindings/Xamarin.AzureCommunicationCalling.iOS/ApiDefinitions.cs#L2069) It doesn't inherit from communication I think we have a problem with rooms support without this inheritance.

[Please check it here. ](https://github.com/Laerdal/Xamarin.AzureCommunic

[2022-11-11 14:54] #43 closed